form {
  width: 100%;
  padding: 1em;
  border: none;
  text-align: center;
}

label {
  font-family: "Satoshi-Light";
  text-align: left;
}

input,
textarea {
  font: 1em "Satoshi-Light";
  border: 1px solid #000;
}

input {
  width: 15rem;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;

  resize: none;
  width: 45rem;
}

.button {
  padding-top: 10px; 
}

button {
  font-family: "Satoshi-Light";
  background-color: rgba(255, 2, 2, 0.4);
  border: 0.5px solid rgb(255, 2, 2);
  padding: 15px 32px;
  text-decoration: none;
}

button:hover {
    background-color: rgba(255, 2, 2, 0.5);
}
.nextto {
  display: inline-block;
}

.nextto label {
  display: block;
}
