* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.logo {
  width: 3.5rem;
  padding: 0px 0px 0px 10px;
}

.navbar {
  /* side-by-side */
  display: flex;
  position: relative;
  /* push as far apart as possible */
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  /* font color */
  color: black;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  /* remove dots of bullet list */
  list-style: none;
}

.navbar-links li a {
  display: block;
  /* remove underline */
  text-decoration: none;
  /* font color */
  color: black;
  padding: 1rem;
}

.navbar-links li:hover {
  /* change background colour when hover over link */
  background-color: transparent;
}

.toggle-button {
  /* force hamburger to right of page */
  position: absolute;
  /* add bit of space from top of page */
  top: 0.75rem;
  /* add bit of space from right of page */
  right: 1rem;
  /* ensure does not display by default, only for smaller screens */
  display: none;
  /* elements listed vertically */
  flex-direction: column;
  /* push as far apart as possible */
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/* if our screen size is 400px or less */
@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
