
body {
  font-family: 'Satoshi-Medium', helvetica, Verdana, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.dp {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  max-width: 400px;
  padding-top: 20px;
}

.sidebar {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

